In [1]:
from glob import glob
import pandas as pd

files = glob('./work/*.csv')

print(files)

[]

In [2]:
df = pd.DataFrame()
for file in files:
    print(file)
    df_temp = pd.read_csv(file)
    df = pd.concat([df, df_temp], ignore_index=True)

print(df)

Empty DataFrame
Columns: []
Index: []

import datetime 
#pd.to_datetime(df['fecha'])
df['fecha'] = pd.to_datetime(df['fecha'], errors='coerce')
print(df)

df[(df['vino'] == 'Altocedro Gran Reserva Malbec') & (df['fecha'].dt.month==1)]

In [40]:
df[(df['vino'] == 'Pulenta Estate Gran Cabernet Franc') & (df['fecha'].dt.month==1)]

,vino,bodega,precio,fecha
2962,Pulenta Estate Gran Cabernet Franc,Bodega Pulenta Estate,624,2018-01-01
16769,Pulenta Estate Gran Cabernet Franc,Bodega Pulenta Estate,825,2019-01-01
30935,Pulenta Estate Gran Cabernet Franc,Bodega Pulenta Estate,1987,2020-01-01
46325,Pulenta Estate Gran Cabernet Franc,Bodega Pulenta Estate,2662,2021-01-01
62153,Pulenta Estate Gran Cabernet Franc,Bodega Pulenta Estate,4762,2022-01-01

In [47]:
df[(df['vino'] == 'Nico by Luca')& (df['fecha'].dt.month==1)]

               vino                            bodega  precio      fecha
2676   Nico by Luca                Laura Catena Wines    1496 2018-01-01
16436  Nico by Luca                Laura Catena Wines    2385 2019-01-01
30531  Nico by Luca  Laura Catena Wines – Bodega Luca    3960 2020-01-01
45860  Nico by Luca  Laura Catena Wines – Bodega Luca    5804 2021-01-01
61653  Nico by Luca  Laura Catena Wines – Bodega Luca    8736 2022-01-01